<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cocktail_dakk">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Cocktail_dakk" >

        <activity android:name=".ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop"
            >
<!--            싱글탑이 맞는지는 잘 몰겠따.-->
        </activity>

        <activity android:name=".ui.search_tab.SearchTabActivity">
        </activity>

        <activity
            android:name=".ui.menu_detail.MenuDetailActivity"
            android:exported="true"
             />

        <activity
            android:name=".ui.start.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.home_detail.HomeDetailActivity" />
        <activity android:name=".ui.start.StartActivity" />

        <activity
            android:name=".ui.start.setting.StartSettingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing"
            />

        <activity android:name=".ui.start.setting.StartNameActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing"
            />

    </application>

</manifest>